h3 = t("languages.name.#{translation.language}")
= simple_fields_for(translation) do |p|
  = p.input :title,
    input_html: {name: 'announcement[translations][][title]'}
  = p.input :text,
    input_html: {rows: 7,
      preview: true,
      name: 'announcement[translations][][text]'},
    markdown_id_suffix: "news_translation_#{translation.language}"
  = p.input :language,
    input_html: {name: 'announcement[translations][][language]'},
    as: :hidden
