- question.answers.each do |answer|
  = render(partial: 'question/new/post', locals: {post: answer})

  div style="padding-left: 60px;"
    = render(partial: 'question/new/comments', locals: {commentable: answer})
