- commentable_type = commentable.is_a?(Xikolo::Pinboard::Question) ? 'question' : 'answer'

.comments id="comments-#{commentable_type}-#{commentable.id}"
  - commentable.comments.each do | comment |
    = render 'question/new/post', post: comment
