*
!api/
!app/
!bin/
!brand/
!clients/
!config/
config/*integration*
config/initializers/integration*
!db/
!docker/bin/
!gems/
!lib/
!public/
public/assets*
!services/*/app
!services/*/bin
!services/*/brand
!services/*/config
services/*/config/*integration*
services/*/config/initializers/integration*
!services/*/lib/
!services/*/public/
!services/*/vendor/
!services/*/config.ru
!services/*/Gemfile*
!services/*/LICENSE*
!services/*/Rakefile
!vendor/
!.yarnrc.yml
!config.ru
!Gemfile
!Gemfile.lock
!LICENSE*
!Makefile
!package.json
!packages.txt
!Rakefile
!yarn.lock
