= render Global::Meter.new(value: stats.user_percentage, label: "#{stats.user_percentage}%")
span.small
  = t(:'course.progress.show.items_visited', visited: stats.user_count, existing: stats.total_count)
