p = t(:'quiz_submission.submitted_quiz_at', quiz_submission_time: quiz_submission_time, timezone: timezone)
p.mb0 = t(:'quiz_submission.submission_points_preview', points: points, max_points: max_points, percent: percent)
