//  BASE STYLES FOR FOUNDATION EMAILS
//  ---------------------------------
//
//  Made available by the foundation_emails gem

@import "foundation-emails";

// Fix for links never being bold
strong a {
  font-weight: inherit;
}

// Fix for margins of paragraphs containing links
// See https://github.com/zurb/foundation-emails/issues/224
p a {
  margin: inherit;
}
