= render Global::Callout.new(t(:'peer_assessment.training.info_text.one')) do
  - if @current_step.required_reviews and not @current_step.optional
    p == I18n.t(:'peer_assessment.training.info_text.two').gsub('%{required_reviews}', @current_step.required_reviews.to_s)
  p == I18n.t(:'peer_assessment.training.info_text.three')
