<span class="flex flex-col items-center justify-center gap-2 text-2xl text-gray-600">
  <span class="x-loading x-loading-spinner x-loading-xl w-[40px]"></span>
  <% if @text %>
    <span><%= @text %></span>
  <% end %>
</span>
