---
include:
  - path: compose.background.yml
  - path: compose.init.yml

x-grouping: &grouping
  image: registry.xikolo.de/xikolo/web/xikolo-grouping:latest
  build:
    context: ..
    dockerfile: docker/files/grouping.Dockerfile
  env_file:
    - .env
  networks:
    - xikolo
  volumes:
    - ./config/xikolo.yml:/etc/xikolo.yml:ro
    - ./config/xikolo/grouping.yml:/app/config/xikolo.yml:ro
  restart: always
  depends_on:
    init-database:
      condition: service_completed_successfully
    postgres:
      condition: service_healthy
    rabbitmq:
      condition: service_healthy
    redis-cache:
      condition: service_healthy
    redis-sidekiq:
      condition: service_healthy

services:
  grouping-server:
    <<: *grouping
    command: server
    ports: # only for debugging
      - 5600:80

  grouping-sidekiq:
    <<: *grouping
    command: sidekiq
