---
include:
  - path: compose.background.yml
  - path: compose.init.yml

x-collabspace: &collabspace
  image: xikolo-collabspace:latest
  build:
    context: ..
    dockerfile: docker/files/collabspace.Dockerfile
  env_file:
    - .env
  networks:
    - xikolo
  volumes:
    - ./config/xikolo.yml:/etc/xikolo.yml:ro
    - ./config/xikolo/collabspace.yml:/app/config/xikolo.yml:ro
  restart: always
  depends_on:
    init-database:
      condition: service_completed_successfully
    postgres:
      condition: service_healthy
    rabbitmq:
      condition: service_healthy
    redis-cache:
      condition: service_healthy
    redis-sidekiq:
      condition: service_healthy

services:
  collabspace-server:
    <<: *collabspace
    command: server
    ports: # only for debugging
      - 4800:80

  collabspace-sidekiq:
    <<: *collabspace
    command: sidekiq
