---
include:
  - path: compose.background.yml
  - path: compose.init.yml

x-quiz: &quiz
  image: xikolo-quiz:latest
  build:
    context: ..
    dockerfile: docker/files/quiz.Dockerfile
  env_file:
    - .env
  networks:
    - xikolo
  volumes:
    - ./config/xikolo.yml:/etc/xikolo.yml:ro
    - ./config/xikolo/quiz.yml:/app/config/xikolo.yml:ro
  restart: always
  depends_on:
    init-database:
      condition: service_completed_successfully
    postgres:
      condition: service_healthy
    rabbitmq:
      condition: service_healthy
    redis-cache:
      condition: service_healthy
    redis-sidekiq:
      condition: service_healthy

services:
  quiz-server:
    <<: *quiz
    command: server
    ports: # only for debugging
      - 3800:80

  quiz-sidekiq:
    <<: *quiz
    command: sidekiq
