common: &common
  # Your secret key is used for verifying the integrity of signed cookies.
  # If you change this key, all old signed cookies will become invalid!

  # Make sure the secret is at least 30 characters and all random,
  # no regular words or you'll be exposed to dictionary attacks.
  # You can use `rails secret` to generate a secure secret key.
  secret_key_base: "cfde5a93803c7597aae03d52e6bf1f138100089323fd4b519b5f09b1229d8634c2cc5496dcf05c21fcad6881e8c24d5e30a94936c2b97d4fde8d8dc24b67e87c"

  # These keys are used to provide the imgproxy KEY and SALT to the application.
  # See `https://docs.imgproxy.net/#/signing_the_url`.
  imgproxy_key: ~
  imgproxy_salt: ~

  # Credentials for proctoring with Smowl.
  # See `Proctoring::SmowlAdapter` module in `app/lib/`.
  smowl_entity: ~
  smowl_license_key: ~
  smowl_password: ~

  # The private key used for bridge API token encryption.
  # The token is passed to the chatbot for authentication with its bridge API.
  #
  # NOTE: The key is only used in testing / development environment.
  chatbot_bridge_private_key: "Fg20p95f_8DmL3SgQhnyZpbE9dYUjlP38uncWVwnW1I"

  # This shared secret can be used to request authentication tokens for registered users.
  chatbot_bridge_shared_secret: ~

  # The shared secret for authentication to the lanalytics bridge API.
  bridge_lanalytics: ~

  # The shared secret for authentication to the Shop bridge API.
  bridge_shop: ~

  # The shared secret for authentication to the TransPipe Bridge API.
  bridge_transpipe: ~

  # The shared secret for authentication to the Portal API.
  portal_api: ~

  # Private key for Open Badge signing in PEM format
  open_badge_private_key: ~

  # JWT for external booking system
  jwt_hmac_secret: ~

  # The shared secrets for authentication to the reCAPTCHA API
  #
  # NOTE: The key is only used in testing / development environment.
  recaptcha_v3: 6Lfz8GIqAAAAAI7luM866NJN5rdPx70hJDO2tsO3
  recaptcha_v2: 6Ld08WIqAAAAAMmBrtQ1_InW6wu0WOlquOcR2GR6

production:
  <<: *common

development:
  <<: *common

  smowl_entity: SampleEntity
  smowl_license_key: samplekey
  smowl_password: samplepassword

  bridge_lanalytics: lanalytics_bridge_secret # Shared with xi-lanalytics

  # WARNING: this RSA-1024 key pair is NOT meant to be
  # used in production under any circumstance!
  open_badge_private_key: |
    -----BEGIN RSA PRIVATE KEY-----
    MIICXAIBAAKBgQD8GtAOf4CGDohWnhMCzhk4D4kxH53uldNXc/7VMGEY0Px13WEu
    SrxDrcuEYNSwOXEovjP6h/0npY6iNMuHjOTScX7ZpcY1Zl33YBYCaU/1CF9h/ECw
    Iio8Q5jveeZN+rr05ukPBkJkRXKjVM/An32CqlzmYlTpNX0/sZJK67ihiwIDAQAB
    AoGABEz4y6aFLMRGsyOTM3MMnxY0wu/FI/LOXimOaVif72pxRBl4tO91croeRK3a
    Mv9n3MgR3u4+9VQvsLix2CghJyU5ik/S6oT1pkQMWW7QraUEYmnogS3vsYlNyGrt
    l1WYE/4OLliV2J3DHAJk2RfsnC/KgVqS/wsXjqnQDxO+LkECQQD/tEr9RvVdh7l7
    z6EtQzkceZWwq1ZNWeCrcyU/pownUYEoSIbkNhZCfKCZ/gG5uhrUAfcPISPjjKN7
    1fX8GCYxAkEA/GV0PfgSuZIu2SScC3r/T7n20Y47gUPidt9T6TAgWi/YAehW9Kp7
    5bbdSmwyIHM8snnQZPuHeaUaSxgtmMjIewJAXCBdFDvIk1YfIdiAvYoGvZegsvJI
    Ob40EBGAThp3TIM1AYp/7yD9jB7SziiR/pRqrg+3L6BFCerVy/wekCEzQQJAYZfl
    K7UJoIG65bG3OOU1ZaGVo4/oyGH0ZlySeJ9oUxce4hXx0ac+QyPDS2yssUl91dEu
    WG2+A7ZohVLzBpnUkwJBAPiLFETyrqoRV4GZ8D9ILfih9uyvp+JWIKyiG6xVNVdm
    XoadXSzYl8RNrPAw/2utCeJmJ1n7ZNSykle3wZiqYWQ=
    -----END RSA PRIVATE KEY-----
  # JWT for external booking system. Not to be used in production either!
  jwt_hmac_secret: "test"

test:
  <<: *common

  imgproxy_key: "485049"
  imgproxy_salt: "53414C54"

  # Hardcoded SMOWL credentials for request stubs / generated URLs in tests
  smowl_entity: SampleEntity
  smowl_license_key: samplekey
  smowl_password: samplepassword

  bridge_lanalytics: 78f6d8ca88c65a67c9dffa3c232313d64b4e338e29d7c83ef39c2e963894b966
  bridge_shop: 78f6d8ca88c65a67c9dffa3c232313d64b4e338e29d7c83ef39c2e963894b966
  bridge_transpipe: 78f6d8ca88c65a67c9dffa3c232313d64b4e338e29d7c83ef39c2e963894b966
  portal_api: 78f6d8ca88c65a67c9dffa3c232313d64b4e338e29d7c83ef39c2e963894b966
  chatbot_bridge_shared_secret: 78f6d8ca88c65a67c9dffa3c232313d64b4e338e29d7c83ef39c2e963894b966

  # WARNING: this RSA-1024 key pair is NOT meant to be
  # used in production under any circumstance!
  open_badge_private_key: |
    -----BEGIN RSA PRIVATE KEY-----
    MIICXAIBAAKBgQD8GtAOf4CGDohWnhMCzhk4D4kxH53uldNXc/7VMGEY0Px13WEu
    SrxDrcuEYNSwOXEovjP6h/0npY6iNMuHjOTScX7ZpcY1Zl33YBYCaU/1CF9h/ECw
    Iio8Q5jveeZN+rr05ukPBkJkRXKjVM/An32CqlzmYlTpNX0/sZJK67ihiwIDAQAB
    AoGABEz4y6aFLMRGsyOTM3MMnxY0wu/FI/LOXimOaVif72pxRBl4tO91croeRK3a
    Mv9n3MgR3u4+9VQvsLix2CghJyU5ik/S6oT1pkQMWW7QraUEYmnogS3vsYlNyGrt
    l1WYE/4OLliV2J3DHAJk2RfsnC/KgVqS/wsXjqnQDxO+LkECQQD/tEr9RvVdh7l7
    z6EtQzkceZWwq1ZNWeCrcyU/pownUYEoSIbkNhZCfKCZ/gG5uhrUAfcPISPjjKN7
    1fX8GCYxAkEA/GV0PfgSuZIu2SScC3r/T7n20Y47gUPidt9T6TAgWi/YAehW9Kp7
    5bbdSmwyIHM8snnQZPuHeaUaSxgtmMjIewJAXCBdFDvIk1YfIdiAvYoGvZegsvJI
    Ob40EBGAThp3TIM1AYp/7yD9jB7SziiR/pRqrg+3L6BFCerVy/wekCEzQQJAYZfl
    K7UJoIG65bG3OOU1ZaGVo4/oyGH0ZlySeJ9oUxce4hXx0ac+QyPDS2yssUl91dEu
    WG2+A7ZohVLzBpnUkwJBAPiLFETyrqoRV4GZ8D9ILfih9uyvp+JWIKyiG6xVNVdm
    XoadXSzYl8RNrPAw/2utCeJmJ1n7ZNSykle3wZiqYWQ=
    -----END RSA PRIVATE KEY-----
  # JWT secret for external booking system. Not to be used in production either!
  jwt_hmac_secret: "test"

integration:
  <<: *common

  bridge_shop: secret_token
