$brand-primary-color: #de6212; // HPI Orange

@import "news_service/foundation/default_settings";
@import "news_service/foundation/base";
@import "news_service/foundation/custom";

// Theme-colored accent bar at the top of each email
body {
  border-top: 10px solid $primary-color;
}
