.course-certificates {
  &__achievements {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;

    @include screen-size-sm-and-up() {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
}
