// Table in collab-space
.collabspace-file {
  &__modified_at,
  &__size {
    font-family: $xi-font-form-labels;
  }
}

// Video chat
.video-chat {
  max-width: 600px;
  line-height: 2;

  @include medium {
    margin: 3rem;
  }

  &__section-title {
    margin-top: 4rem;
  }
}
