/*------------------------------------*\
    $CONTENTS

    Helpdesk component CSS.
\*------------------------------------*/
/**
 * Variables...............Variable declarations
 * Helpdesk-Styles.........Helpdesk styles
 */

/*------------------------------------*\
    $Variables
\*------------------------------------*/
// Any variable declarations go here

/*------------------------------------*\
    $Helpdesk-Styles
\*------------------------------------*/

// Some interactive elements should only be shown in the widget version, not on dedicated page
.helpdesk-widget-only {
  display: none;

  .helpdesk-container & {
    display: inline-block;
  }
}

.helpdesk-success-message,
.helpdesk-fail-message {
  min-height: 400px;
  padding: 70px;
  text-align: center;
}

#helpdesk-contact-tabs {
  position: relative;
  display: block;
  padding: 0;
  margin: 20px 0;
  list-style: none;

  & > li {
    margin: 0;
    float: left;
  }

  & > li > a {
    display: block;
    padding: 10px;
    border: none;
    color: $black;
    text-align: center;
    text-decoration: none;
  }
}

#utterance--placeholder {
  display: none;
}

[data-loading="true"] #utterance--placeholder {
  display: block;
}

.helpdesk-closing-button {
  border: none;
  margin: 7px 9px;
  background: none;
  float: right;
  font-size: x-large;

  &:focus {
    outline: none;
  }
}
