@use "sass:color";

/*------------------------------------*\
    $CONTENTS

    Anchor styles
\*------------------------------------*/
/**
 * Variables..............Variable declarations and overrides
 * Anchor-Variations......Different flavours of anchors
 */

/*------------------------------------*\
    $Variables
\*------------------------------------*/
//Variables and overrides here

$link-color-hover: color.adjust($link-color, $lightness: -8%, $space: hsl);

/*------------------------------------*\
    Anchor-Variations
\*------------------------------------*/

.bs-a {
  color: $link-color;
  text-decoration: none;
  word-wrap: break-word;
  @include suppress-dotted-border();

  &:hover,
  &:focus,
  &:active {
    color: $link-color-hover;
    text-decoration: $link-hover-decoration;
    @include suppress-dotted-border();
  }
}

.white-link {
  font-weight: bold;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: white;
    text-decoration: underline;
  }
}
