@use "sass:color";

/*------------------------------------*\
    $CONTENTS

    Anchor styles
\*------------------------------------*/
/**
 * Variables..............Variable declarations and overrides
 * Anchor-Variations......Different flavours of anchors
 */

/*------------------------------------*\
    $Variables
\*------------------------------------*/
//Variables and overrides here

$link-color-hover: color.adjust($link-color, $lightness: -8%, $space: hsl);

/*------------------------------------*\
    Anchor-Variations
\*------------------------------------*/

a {
  color: $link-color;
  word-wrap: break-word;
  &:hover,
  &:focus,
  &:active {
    color: $link-color-hover;
  }
}

.white-link {
  font-weight: bold;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: white;
    text-decoration: underline;
  }
}
