/*--------------------------------------------*\
    $CONTENTS

    Xikolo reset stylesheet
\*--------------------------------------------*/
/**
 * Reset.............General CSS reset styles
 */

/*--------------------------------------------*\
    $Reset
\*--------------------------------------------*/
html,
body {
  min-height: 100vh;
  background-color: $background-color;
  color: $text-color;
}

html {
  font-size: 10px;
}

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

/*------------------------------------*\
    App Mode
\*------------------------------------*/
body.in_app {
  margin-top: 0 !important;
}
