.social-sharing {
  display: flex;
  width: 100%;

  .sharing-button {
    display: flex;
    overflow: hidden;
    height: 30px;
    flex-basis: 100px;
    flex-grow: 1;
    align-items: center;
    margin-right: 10px;
    color: #fff;
    font-size: 19px;

    &:hover {
      filter: brightness(120%);
    }

    &:focus {
      outline: 1px solid #fff;
    }

    &:active,
    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:last-child {
      margin-right: 0;
    }

    span {
      width: 30px;
      text-align: center;

      &.share-text {
        width: auto;
        margin-left: 3px;
        font-size: 12px;
      }
    }
  }

  .facebook {
    background-color: #3b5998;
  }

  .twitter {
    background-color: #000000;
  }

  .linkedin_add {
    background-color: #0077b5;
  }

  .mail {
    background-color: #999;
    font-size: 18px;
  }
}

.certificate-sharing {
  display: flex;
  align-items: center;

  .buttons {
    flex-basis: 1;
    flex-grow: 1;
  }
  .info {
    flex-basis: 1;
    padding-left: 10px;
  }
}
