/*------------------------------------*\
    $CONTENTS

    Styling for static pages.
\*------------------------------------*/
/**
 * Variables.............Variable declarations and overrides
 * Static-Elements.......Basic elements style
 */

/*------------------------------------*\
    $Variables
\*------------------------------------*/
$xi-static-page-background-color: $white !default;

/*------------------------------------*\
    $Static-Elements
\*------------------------------------*/

.h1 {
  font-size: 1.8em;
}
.h2 {
  font-size: 1.6em;
}

.static_page {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: $xi-static-page-background-color;

  .last_changed {
    font-style: italic;
  }

  &__header {
    background-color: $pages-header-bg;

    h1 {
      @include font-m;
      margin: 30px auto;
      color: $pages-header-title-color;
      font-weight: normal;
      @include screen-size-s-and-up {
        @include font-l;
      }
    }
  }
}

.conclusion-hack,
.proctoring-statics-conclusion-hack {
  @include heavy-bar(border-top);

  margin-top: 20px;
  margin-bottom: 20px;
}
