.modal-frame--higher iframe {
  // Set enough height to fit date-time picker
  min-height: 50em;
}

.modal-dialog--wider {
  width: 80%;
  max-width: 1000px;
}

.category-keys {
  &__key {
    margin-right: 15px;

    .xi-icon {
      margin-right: 5px;
      color: #e4b6df;

      &--unavailable {
        color: #dc7671;
      }

      &--available {
        color: #88b96a;
      }

      &--meeting {
        color: #9aabf8;
      }

      &--milestone {
        color: #f7af6a;
      }
    }
  }
}
