.course-progress {
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    @include font-s;
  }

  &__items {
    display: flex;
    flex-direction: column;
    margin: 15px 0 25px;
    gap: 15px;

    @include screen-size-s-and-up {
      flex-direction: row;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__overall-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  &__overall-score-title {
    font-weight: bold;
  }

  &__overall-graded-score {
    display: flex;
    gap: 5px;
  }
}
