/*------------------------------------*\
    $Partial imports
\*------------------------------------*/
@import "partials/reset";
@import "partials/grid";
@import "partials/typography";
@import "partials/links";
@import "partials/certificates";
@import "partials/custom_input";
@import "partials/callouts";
@import "partials/dashboard";
@import "partials/buttons";
@import "partials/button_group";
@import "partials/forms";
@import "partials/dropdown";
@import "partials/dropzone";
@import "partials/carousel";
@import "partials/courses";
@import "partials/enrollment-statistics";
@import "partials/sections";
@import "partials/footer";
@import "partials/gamification_badges";
@import "partials/gamification_userstates";
@import "partials/helpdesk";
@import "partials/in_app";
@import "partials/layout";
@import "partials/login";
@import "partials/register";
@import "partials/navigation";
@import "partials/news";
@import "partials/quiz";
@import "partials/video";
@import "partials/utility";
@import "partials/user";
@import "partials/tooltip";
@import "partials/sidebars";
@import "partials/progress";
@import "partials/profile";
@import "partials/pinboard";
@import "partials/pagination";
@import "partials/redirect";
@import "partials/recaptcha";
@import "partials/static";
@import "partials/flash";
@import "partials/banners";
@import "partials/lti";
@import "partials/alerts";
@import "partials/links";
@import "partials/labels";
@import "partials/table";
@import "partials/document";
@import "partials/startpage";
@import "partials/star_rating";
@import "partials/popover";
@import "partials/channels";
@import "partials/polls";
@import "partials/certificate_verification";
@import "partials/statistics";
@import "partials/basic_tooltip";
@import "partials/consent";
@import "partials/topic";
@import "partials/topics";
@import "partials/scroll_indicator";
@import "partials/certificate";
@import "partials/items";
@import "partials/item_stats";
@import "partials/collapsible";
@import "partials/cookie_consent_banner";
@import "partials/report";
@import "partials/voucher_redemptions";
@import "partials/teacher_nav";
@import "partials/announcements";

// Teacher UI
@import "partials/teacher_ui_tables";

@import "xui/upload";
@import "xui/mdupload";
@import "xui/imageupload";
