/*------------------------------------*\
    $CONTENTS

    Module imports for Xikolo.
    (Xikolo base style)
\*------------------------------------*/

// Color schema definition
@import "theme/color_schema";

// Variables, mixin and function declarations
@import "theme/common/variables";
@import "theme/common/helpers";

// Extracted common design parts for easier reusability and change
@import "theme/design";

// Font
$basefont: "IBM Plex Sans", sans-serif;
$corporatefont: $basefont;

$xi-font-headings: $basefont, sans-serif;
$xi-font-buttons: $basefont, sans-serif;
$xi-font-navigation: $basefont, sans-serif;

$xi-font-footer: $basefont, sans-serif;
$xi-font-footer-link: $basefont, sans-serif;

$xi-font-table-title: $basefont;

$xi-font-form-inputs: $basefont;
$xi-font-form-labels: $basefont;

$xi-course-card-font: "IBM Plex Mono";
