= simple_fields_for(answer, namespace: "qanswer_#{answer.id}") do |f|
  = f.input :text, required: true, as: :markdown,
      label: t(:'items.quiz.answer'),
      placeholder: t(:'items.quiz.enter_answer'),
      uploads: {purpose: :quiz_answer_text, content_type: 'image/*'},
      value: answer['text']
  / we need the uncasted text value: Acfs calls `to_s` on the Hash
    and returns a wrong value. @text_quiz_answer['text'] returns the value as
    it was retrieved from the service.
    This value option can probably be removed once @text_quiz_answer is no long
    an Acfs resource.
  = f.input :comment, as: :string, label: t(:'items.quiz.answer_explanation'), placeholder: t(:'items.quiz.answer_explanation_text')
  = f.input :correct, label: t(:'items.quiz.answer_correct'), as: :toggle_switch
