data-selector class=local_assigns[:css_class] key=data_key
  score-card class="score-card" name=name icon-classes=icon primarycolor="transparent" decimals=local_assigns[:decimals] prefix=local_assigns[:prefix] suffix=local_assigns[:suffix] link=local_assigns[:link] link-text=local_assigns[:link_text]
