h4 = t 'peer_assessment.submission_management.display_student_submission.title'

//Submission
div
  =presenter.action_button(submission_path, :submission)
  =presenter.draft_hint(@submission_draft)
/- if @submission_draft
/    = t(:'peer_assessment.submission_management.display_student_submission.draft_hint')
//Training
- if available_steps.include? 'Training'
  div
    =presenter.action_button(training_path, :training)
    =presenter.draft_hint(@train_draft)
  /- if @train_draft
  /  = t(:'peer_assessment.submission_management.display_student_submission.draft_hint')
//PeerGrading
div
  =presenter.action_button(peer_grading_path, :peer_evaluation)
  =presenter.draft_hint(@peer_asses_draft)
/- if @peer_asses_draft
/  = t(:'peer_assessment.submission_management.display_student_submission.draft_hint')
//SelfAssessment
- if available_steps.include? 'SelfAssessment'
  div
    =presenter.action_button(self_assessment_path, :self_evaluation)
    =presenter.draft_hint(@self_assess_draft)
    /- if @self_assess_draft
    /  = t(:'peer_assessment.submission_management.display_student_submission.draft_hint')
//Results
= presenter.action_button(results_path, :results)

#students-peerassessment-modal.modal.fade.bs-example-modal-lg tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  .modal-dialog.modal-lg role="document"
    .modal-content
      .modal-header
        button.close data-dismiss="modal" aria-hidden="true"
          '&times;
        h4.modal-title
      .modal-body

javascript:
  ready(function() {
    $('.students_peerassessment').click(function() {
      $('#students-peerassessment-modal .modal-title').html('nobody');
      $('#students-peerassessment-modal .modal-body').html('...');
      $('#students-peerassessment-modal').modal('show');
      var title = $('.user').text();
      var url = $(this).find('a[href]').attr('href');
      $('#students-peerassessment-modal .modal-title').html(title);
      $('#students-peerassessment-modal .modal-body').load(url);

      $('#students-peerassessment-modal .modal-dialog').css({
          width: 'auto',
      });
      return false;
    });
  });
